html{
    text-align: center;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}
.logo .container{
    display: flex;
    align-items: center;
}
.logo{
    height: 1.32rem;
    background-color: black;
    color: white;
    
    align-items: center;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
    padding-right: 1rem;
}
.logo img{
    margin-right: 1rem;
    margin-left: 0.5rem;
    height: 1.5rem;
    
}
.logo span{
    display: inline-block;
}
.logo h1{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* Main Section */
.main{
    background-image: url(../images/moto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 25rem;
}
.headline{
    background-color: #000;
    color: #FFF;
    width: 20rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem 3rem;
    position: relative;
    top: 9rem;
    text-align: left;
    
    
}
.headline h1{
   font-size: 2rem;
   line-height: 2.2rem;
   margin: .25rem 0;
   
}
.headline h4{
    font-size: 1rem;
    margin-bottom: .25rem;

}
/* Nav Section */
.nav{
    height: ;
    background-color: firebrick;
    color: #FFFFFF;
    
    width: 100%;
    padding: .75rem 0;
}
.nav nav{
    display: flex;
}
.nav span{
    width: 100%;
    
    font-size: 1.2rem;
}
.nav a, a:link{
    color: #FFF;
    text-decoration: none;
}


/* Product Section */
.product{
    height: 600px;
    background-color: white;
}


/* Footer Section */
footer{
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
}
footer .copy{
    color: white;
    text-align: left;
    margin-left: 10px;
    font-size: .75rem;
    
}